###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# ignore dependency folder for languages
dep/* linguist-vendored